body {
  background-color: darkgray;
}
.slider-div {
  margin: 50px auto;
  width: 50%;
}
.images img {
  width: 100%;
  border-radius: 20px;
  height: 300px;
  object-fit: cover;
}

.left_button {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  background-color: gold;

  position: absolute;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  left: 200px;
}
.right_button {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  background-color: gold;

  position: absolute;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  right: 200px;
}
